# wildcard
*
!*.*
!*/

# AI
*.md*

# mysql
mysql-data/

# java
*.class

# data
*.txt
*.dat

# pdfs
*.pdf

# documents
*.odt
*.docx

# images
*.png
*.jpg

# logs
*.log

# outs
*.out
*.bin
