# Ignore all
*

# Unignore all with c,cpp,h,hpp extensions
!*.c
!*.cpp
!*.h
!*.hpp
!justfile

# Unignore vscode config
!.vscode/*

# Unignore README.md
!README.md

# Unignore previews
!preview.*

# Unignore audio
!*.wav
!*.mp3

# Unignore maps
!map*.txt
!map*.dat

# Unignore presentation pdfs
!presentation.pdf

# Unignore LICENSE
!LICENSE

# Unignore all dirs
!*/