# Ignore all
*

# Unignore all with c,cpp,h,hpp extensions
!*.c
!*.cpp
!*.h
!*.hpp
!justfile

# Unignore vscode config
!.vscode/*

# Unignore README.md
!README.md

# Unignore LICENSE
!LICENSE

# Unignore all dirs
!*/